@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100&display=swap');

/* Configurações iniciais */

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-weight: 10;
    font-style: normal;
}

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color: #071c20;
    color: white;
    padding: 1% 2%;
    height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

header h1 {
    font-size: 170%;
    padding: 0% 1% 0% 1%;
    font-weight: 600;
}

.titulo-constroo {
    width: 10%;
    align-items: center;
    display: inline-flex;
    font-size: 110%;
}

.titulo-constroo img{
    width: 2.5rem;
    margin: 0rem 0rem 0rem 1rem;
}


/* Formulario */
#titulo-Editar-Pelo-ID {
    text-align: center;
    margin: 10% 0% 2% 0%;
    font-size: 24px;

}

form {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infos-linha1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: larger;
}

#infos-erro{
    margin-left: 20px;
}

input {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;
}

/* Cadastrar */
.classButton {
    align-items: center;
    justify-content: center;
}

#buttonCadastrar {
    background-color: #071c20;
    color: white;
    border: none;
    margin-left: 20px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    font-size: 16px;
}

#buttonCadastrar:hover {
    opacity: 0.8;
}

@media screen and (max-width: 560px){
    form{
        height: 20%;
        width: 90%;
    }

    input {
        width: 90%;
    }

    .infos-linha1 {
        flex-direction: column;
    }

    #buttonCadastrar {
        width: 80%;
        margin-top: 10%;
        font-size: 0.8rem;
    }

    #titulo-Editar-Pelo-ID {
        margin-top: 25%;
    }
}