*{
    margin: 0px;
    padding: 0px;
}

#navbar-line{
    height: 30px;
    width: 100%;
    background-color: #0E292F;
}
#navbar{
    display: flex;
    flex-direction:column;
}
#navbar-Constroo{

    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Arial Black";
    color: #0E292F;

}
#titulo-Cadastrar-Usuario{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: "Arial Black";
    color: #0E292F;

}

.subtitulo-forms{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;

    font-family: "Arial black";
    color: #0E292F;
}
form{
    margin-left: 40px;
}

label{
    display: inline-block;
    width: 100px;
}
input{
    margin-right: 20px;
}
.infos-linha{
    margin-bottom: 10px;
}
.info-menor{
    width: 60px;
}
.opcao-larga{
    width: 150px;
}